table {
  width: 100%;
  height: 100%;
}

.mat-form-field {
  width: 90%;
  margin-top: 30px;
  margin-right:1%;
}

td, th {
  width: 10%;
}
.sidenav{
  max-width: 150px;
}
.button-group{
  width: 90%;
  margin-bottom: 8px;
  margin-left: 8px;
}
.mat-sidenav {
  border: none;
}
.container-table{
  margin-top: 60px;
  margin-bottom: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.toolbar{
  z-index: 3;
  position: fixed;
}
.mat-sidenav{
background-color: #f7faf8;
}
.mat-icon{
  float: left;
  margin-top: 6px;
  margin-left: -6px;

}
.buton{
  text-align: start;
}
.mat-tab-group{
  margin-top:24px;
}
.example-spacer {
  flex: 1 1 auto;
}
