.content-style {
  border: 1px solid white ;
  border-radius: 8px;
  padding: 7px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  width: 70%;
  float: left;
}
.button-style{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 5px;
}
.title-style{
  text-align: center;
  margin-bottom: -25px;
  padding-bottom: 5px;
}
.icon-style{
      margin: 0px 0px -5px 7px;
}
