
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  background-image: url(https://w.wallhaven.cc/full/z8/wallhaven-z8wj6y.png);
  height: 100%;
  background-repeat: inherit;
  background-size: cover;
}
h4{
  margin-top: 15px;
  cursor: pointer;
  text-align: end;
  font-weight: 100;
}
h4:hover{
  opacity: 0.5;
}
:host .mat-form-field{
  width: 100%;
  padding: 0px;
  padding-bottom: 0em !important;
}
.example-radio-button {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
}
.button-spacer{
  height: 50px;
  width: 70%;
}
.button-spacer:hover{
  opacity:0.7;
}
.button-warn{
  height: 50px;
  width: 10%;
}
.button-warn:hover{
  opacity:0.7;
}
.invalid{
  color: #cc0000;
}

