.mat-dialog-title {
  text-align: center;
  font-weight: 800;
}
:host .mat-form-field{
  width: 100%;
  padding: 0px;
  padding-bottom: 0em !important;
}
.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px -15px;
  align-items: flex-start;
}
.example-radio-button {
  margin: 12px;
}

// xóa mũi tên chỗ nhập giá
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.invalid{
    color: red;
}

