<h1 mat-dialog-title> Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <!-- chọn tên product -->
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput type="text" formControlName="productName">
      <mat-hint class="invalid" *ngIf="productName && productName.invalid && productName.touched">something wrong
      </mat-hint>
    </mat-form-field><br><br>
    <!-- chọn các cái category -->
    <mat-form-field appearance="outline">
      <mat-label>Category Product</mat-label>
      <mat-select formControlName="category">
        <mat-option value="pc">Pc</mat-option>
        <mat-option value="lap top">lap top</mat-option>
        <mat-option value="head phone">head phone</mat-option>
        <mat-option value="mouse">mouse</mat-option>
        <mat-option value="keyboar">keyboar</mat-option>
      </mat-select>
      <mat-hint class="invalid" *ngIf="category && category.invalid && category.touched">something wrong</mat-hint>
    </mat-form-field><br><br>
    <!-- chọn ngày  -->
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint class="invalid" *ngIf="date && date.invalid && date.touched">something wrong</mat-hint>
    </mat-form-field><br><br>

    <h1>Product Status</h1>

    <mat-form-field appearance="outline" >
      <mat-label>Product Status</mat-label>
      <mat-select formControlName="freshness" >
        <mat-option value="using" (click)="using()" >using</mat-option>
        <mat-option value="no using" (click)="noUsing()" >no using</mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field *ngIf="isclick" appearance="outline">
      <mat-label>Name user</mat-label>
      <input matInput formControlName="nameUser" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput formControlName="price">
      <mat-hint class="invalid" *ngIf="price && price.invalid && price.touched">something wrong</mat-hint>
    </mat-form-field><br><mat-form-field appearance="outline">
      <mat-label>IMG URL</mat-label>
      <input matInput formControlName="img">

    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>commented</mat-label>
      <textarea matInput type="text" formControlName="comment"></textarea>
      <mat-hint class="invalid" *ngIf="comment && comment.invalid && comment.touched">something wrong</mat-hint>
    </mat-form-field><br>
  </form>
</div>

<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="primary" (click)="addProduct()" (keyup.enter)="addProduct()"
    [disabled]="productForm.invalid"> {{actionBtn}}</button>
  <button mat-raised-button color="warn" mat-dialog-close> Close</button>
</div>
